/* * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(103,58,183,0.8),rgba(33,150,243,0.5)),url(background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}
.title{
    width: 60%;
    display: inline-block;
    margin: 150px auto 0;
    color: #fff;
    text-align: center;
}
.title h1{
    margin-bottom: 30px;
}
.title p{
    font-size: 13px;
    line-height: 22px;
}
.row{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.col{
    flex-basis: 22%;
    text-align: center;
    color: #555;
}
.counter-box{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -4px #66676c;
}
h2,span{
    display: inline-block;
    margin: 15px 0;
    font-size: 50px;
    color: #000;
}
.counter-box .fa{
    font-size: 40px;
    color: #009688;
    display: block;
}














 */
