.counter-section
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}
.countbox p
{
    
    /* text-decoration: none; */
    text-align: center;
    
}
.counter-div

{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.countbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    width: 40%;
    border-radius: 6px;
    padding: 20px 0px;
}
.countbox i
{
    color: blue;
    font-size: 50px;
}
.countbox h1

{
    font-size: 40px;
    color: red
}
.countbox h3

{
    font-size: 40px;
    margin-bottom: 4px;
    color: red;
    position: relative;
    bottom: 7px;
}
.wrapper-box
{
    display: flex;
    /* justify-content: space-between; */
    width: 80%;
}
@media(max-width:1200px)
{
    .countbox h1

    {
        font-size: 30px;
        color: red;
    }
    .countbox h3
    
    {
        font-size: 30px;
        margin-bottom: 4px;
        color: red;
        position: relative;
        bottom: 7px;
    }
    .wrapper-box
    {
        display: flex;
        justify-content: space-between;
        width: 90%;
    } 
    .countbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    width: 44%;
    border-radius: 6px;
    padding: 20px 0px;
}
.countbox i
{
    color: blue;
    font-size: 40px;
}
}
@media(max-width:900px)
{
    .countbox h1

    {
        font-size: 25px;
        color: red;
    }
    .countbox h3
    
    {
        font-size: 25px;
        margin-bottom: 4px;
        color: red;
        position: relative;
        bottom: 7px;
    }
    .wrapper-box
    {
        display: flex;
        justify-content: space-between;
        width: 95%;
    } 
    .countbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    width: 46%;
    border-radius: 6px;
    padding: 20px 0px;
}
.countbox i
{
    color: blue;
    font-size: 35px;
}
}
@media(max-width:700px)
{
    .counter-div

    {
        width: 100%;
        display: flex;
        padding: 10px 0px;
        justify-content: space-around;
    }
    .wrapper-box
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 80%;
}
}
@media(max-width:500px)
{
    .wrapper-box
    {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 95%;
    }

    .countbox h1

    {
        font-size: 23px;
        color: #0067d6
    }
    .countbox h3
    
    {
        font-size: 23px;
        margin-bottom: 4px;
        color: #0067d6;
        position: relative;
        bottom: 7px;
    }
}
