  li::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom:0;
    background-color: white;
    transition: all ease-in-out .2s;
  }
  li:hover::after{
    width: 100%;
    left: 0;
  }

  btn2::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom:0;
    background-color: white;
    transition: all ease-in-out .2s;
  }